.login-Form {
    width:200px;
    height:150px;
    display:flex;
    flex-direction: column;
    margin:20% auto;
    background:lightgray;
    
    justify-content: center;
    align-items: center;
    box-shadow: 9px -10px 20px -10px;
    
}

.user {
    width:100px;
    margin-bottom:20px;
    text-align: center;
    background-color: aliceblue;
}

.submit{
    width:100px;
    background-color: cadetblue;
    color:white;
}